@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

main {
    background: #1B1B1B url(../imagens/pexels-guilherme-rossi-1755683.jpg) no-repeat center center ;
    width: 100vw;
    height: 100vh;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

div > img {
   display: none; 
}

section#login {
    background-color: #191921;
    width: 80vw;
    height: 80vh;
    border-radius: 10px;
}

section > div > h1 {
    text-align: center;
    color: white;
    font-size: 2em;
    padding: 30px;
}

form {
    padding-top: 150px;
}

p {
    text-align: center;
}

input {
    background-color: #252A36;
    color: white;
    display: inline-block;
    font-size: 1.5em;
}

.inputForm {
    margin: 20px;
}

input#botao {
    background-color: rgb(74, 74, 206);
    width: 90px;
}

input.email {
    text-align: center;
}
