@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

main {
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

section#login {
    background-color: white;
    display: flex;
    border-radius: 10px;
}

div#imagem {
    background-color: aqua;
    width: 400px;
    height: 400px;
}

div#formulario {
    background-color: blue;
    display:flex ;
    width: 400px;
    height: 400px;
}

form {
    background-color: white;
}



