@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

main {
    background-color: blueviolet;
    width: 100vw;
    height: 100vh;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

img {
    width: 90vw;
    height: 338px;
    border-radius: 10px 10px 0px 0px;
}

div#formulario {
    background-color: white;
    border-radius: 0px 0px 10px 10px;
}